{% extends 'admin/admin_base.html.twig' %}

{% block main %}

   <h2 style="color:#B0413E">Add a new article</h2>

   <div class="container">
      <div class="row">
         <div class="col-12">
            {# balise d'ouverture de form #}
            {{ form_start(articleForm) }}

            <div class="form-group">
               {{ form_label(articleForm.title) }}
               {{ form_widget(articleForm.title, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="errors">
               {{ form_errors(articleForm.title) }}
            </div>

            <div class="form-group">
               {{ form_label(articleForm.content, NULL, {'label_attr': {'class': 'form_article_content_input'}}) }}
               {{ form_widget(articleForm.content, {'attr': {'class': 'form-control'}}) }}
               {{ form_errors(articleForm.content) }}
            </div>

            <div class="form-group">
               {{ form_label(articleForm.createdAt) }}
               {{ form_widget(articleForm.createdAt, {'attr': {'class': 'form-group'}}) }}
               {{ form_errors(articleForm.createdAt) }}
            </div>

            <div class="form-group">
               {{ form_label(articleForm.category) }}
               {{ form_widget(articleForm.category, {'attr': {'class': 'form-group'}}) }}
               {{ form_errors(articleForm.category) }}
            </div>

            <div class="form-group">
               {{ form_label(articleForm.tag) }}
               {{ form_widget(articleForm.tag, {'attr': {'class': 'form-group'}}) }}
               {{ form_errors(articleForm.tag) }}
            </div>

            <div class="form-group">
               {{ form_label(articleForm.isPublished) }}
               {{ form_widget(articleForm.isPublished) }}
               {{ form_errors(articleForm.isPublished) }}
            </div>

            <div class="form-group">
               {{ form_widget(articleForm.submit, {'attr': {'class': 'btn btn-danger'}, 'label': 'Save'}) }}
            </div>

            {# balise de fermeture de form #}
            {{ form_end(articleForm) }}
         </div>
      </div>
   </div>


{% endblock %}



