<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('style.css') }}">

    <title>{% block metaTitle %} {% endblock metaTitle %}</title>
</head>
<body>
<header class="header">
    <figure class="logo">
        <img src="{{ asset('medias/syfy.png') }}" alt="logo" class="resp">
    </figure>

    <nav class="menu">
        <ul>
            <li>
                <a href="{{ path('listCategories') }}">Catégorie</a>
            </li>
            <li>
                <a href="{{ path('articleList') }}">Articles</a>
            </li>
            <li>
                <a href="{{ path('tagList') }}">Tags</a>
            </li>
        </ul>
    </nav>
</header>

    <main class="main">
        {% block main %}
        {% endblock main %}
    </main>

    <footer class="footer">
    </footer>

</body>
</html>